body {
	font-family: Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background: url('/img/tile1.png') repeat center 0 fixed;
}

body > .container {
	background-color: rgba(255, 255, 255, 0.9); 
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.navbar li a {
	font-weight: 550;
}

.ns-type-error{background-color:#e74c3c;color:#fff}.ns-type-error a{color:#fff}.ns-type-error .ns-close:after,.ns-type-error .ns-close:before{background-color:#fff}.ns-type-warning{background-color:#f1c40f;color:#fff}.ns-type-warning a{color:#fff}.ns-type-warning .ns-close:after,.ns-type-warning .ns-close:before{background-color:#fff}.ns-type-notice{background-color:#01b9fe;color:#fff}.ns-type-notice a{color:#fff}.ns-type-notice .ns-close:after,.ns-type-notice .ns-close:before{background-color:#fff}.ns-type-success{background-color:#2ecc71;color:#fff}.ns-type-success a{color:#fff}.ns-type-success .ns-close:after,.ns-type-success .ns-close:before{background-color:#fff}.ns-effect-loadingcircle .ns-close:after,.ns-effect-loadingcircle .ns-close:before{background-color:#ddd}.notification-shape,.shape-progress svg{pointer-events:none}.ns-effect-loadingcircle{background-color:#fff!important}

/*
h3.page-title {
	font-size: 1.8em;
	display: inline;
}
*/
hr.header{
	height: 1px;
	margin: 0 0 40px 0;
	background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0,0,0,0)), color-stop(0.5, #333333), to(rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
	background: -moz-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
	background: -o-linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
	background: linear-gradient(left, rgba(0,0,0,0), #333333, rgba(0,0,0,0));
	border: 0;
}
hr.header:after { 
	display: block; 
	content:'';
	height: 30px;
	background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 116, color-stop(0%, #cccccc), color-stop(100%, rgba(255, 255, 255, 0)));
	background-image: -webkit-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -moz-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
	background-image: -o-radial-gradient(center top, farthest-side, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
	background-image: radial-gradient(farthest-side at center top, #cccccc 0%, rgba(255, 255, 255, 0) 100%);
}
hr.main {
	clear: both; 
	float: none; 
	width: 100%; 
	height: 1px;
	margin: 0;
	border: none; 
	background: #ddd;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		right bottom,
		color-stop(0, rgb(255,255,255)),
		color-stop(0.1, rgb(221,221,221)),
		color-stop(0.9, rgb(221,221,221)),
		color-stop(1, rgb(255,255,255)) );
	background-image: -moz-linear-gradient(
		left center,
		rgb(255,255,255) 0%,
		rgb(221,221,221) 10%,
		rgb(221,221,221) 90%,
		rgb(255,255,255) 100%
	);
}
textarea{
	resize: none;
}
.footer{
	background:#C8C8C8;
	margin-top:20px;
	padding:20px 0 26px 0;
}
.footer a {
	color: #C73F3F;
	font-weight: bold;
	font-size: 1.2em;
}
.img-profil{
	margin-top: 25px;
}
.kanan{
	float: right;
}
#logo{
	display:inline;
	text-decoration:none;
}
#status-but{
	margin-top: 35px;
}
h4.media-heading {
	font-size: 1.2em;
}
h4.media-heading.produk {
	margin-bottom: 15px;
}
.media-body p {
	line-height: 1.2em;
	font-size: 0.9em;
	margin-bottom: 4px;
	width: 100%;
}
.media-body p.sender {
	margin-top: 8px;
}
.media-body div {
	margin-top: 15px;
}
.media-body.full-width {
	display: block;
}

body > .container {
	padding-top: 10px;
}
.navbar-nav img {
	border-radius: 10%;
	max-width: 50px;
	max-height: 50px;
	margin-right: 10px;
	margin-top: 4px;
	background-clip: padding-box;
	background-position: center;
}
.top-menu {
	position: absolute;
	right: 10px;
	top: 70px;
}
@media (max-width: 768px) {
	.top-menu {
		top: 0px;
		left: 0px;
	}
}

/* daftar info dan berita di halaman depan */
.info-list h3 {
	border: 0 none;
	margin: 0 0 3px;
	padding: 0;
	font-size: 1.2em;
	color: #9b59b6;
}
.info-list img {
	height: 43px;
	margin-right: 8px;
	margin-top: 4px;
	float: left;
}
.info-list .meta-info {
	margin-left: 60px;
}
.info-list .date {
	font-size: 0.875em;
}
.info-list .desc {
	font-size: 0.9em;
	line-height: 1.2;
}

.direktori-image {
	width: 120px;
	border-radius: 5%;
	background-clip: padding-box;
	margin-right: 25px;
	border: 1px solid #eee;
}
.direktori-info {
	font-style: italic;
}

.main-box {
	box-shadow: 1px 1px 2px 0 #CCCCCC;
	margin-bottom: 16px;
	border-radius: 3px;
	background-clip: padding-box;
}
.main-box .main-box-header {
	min-height: 50px;
	padding: 10px 20px;
}
.main-box h2, .main-box h5 {
	font-size: 1.5em;
	line-height: 29px;
	margin: 0;
	padding: 0;
}
.filter-block {
	margin-top: 7px;
}
.main-box .main-box-body {
	padding: 0 20px 20px 20px;
}
#invoice-companies {
	border: 1px solid #e7ebee;
	border-left: 0;
	border-right: 0;
	margin: 20px -20px;
}
#invoice-companies .invoice-box {
	border-right: 1px solid #e7ebee;
	padding: 25px 20px;
	height: 100%;
	min-height: 165px;
}
#invoice-companies .invoice-icon {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	color: #e7ebee;
	text-align: center;
}
#invoice-companies .invoice-icon > i {
	font-size: 2.4em;
	display: block;
}
#invoice-companies .invoice-company {
	float: left;
}
#invoice-companies .invoice-box.invoice-box-dates {
	border-right: 0;
}
#invoice-companies .invoice-dates .invoice-number > strong {
	text-transform: uppercase;
	line-height: 48px;
}
#invoice-companies .invoice-dates .invoice-number > span {
	font-size: 1.9em;
}
#invoice-companies .invoice-dates .invoice-date > strong {
	text-transform: uppercase;
	line-height: 28px;
}
#invoice-companies .invoice-dates .invoice-date > span {
	font-size: 1.3em;
}
.invoice-box-total {
	line-height: 1.8;
	border: 1px solid #e7ebee;
	border-right: 0;
	border-left: 0;
	padding: 20px 0;
}
.invoice-box-total .invoice-box-total-label, .invoice-box-total .invoice-box-total-value {
	font-size: 1.125em;
}
.invoice-box-total .grand-total {
	font-size: 1.25em;
	text-transform: uppercase;
	font-weight: bold;
}

.profile-img {
	border-radius: 50%;
	background-clip: padding-box;
	margin-bottom: 15px;
}
.profile-label {
	text-align: center;
	padding: 5px 0;
}
.profile-since {
	text-align: center;
	margin-top: -5px;
}
.profile-details {
	padding: 15px 0;
	border-bottom: 1px solid #e7ebee;
	margin: 15px 0;
}
.profile-detail ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 40px;
}
.tabs-wrapper .nav-tabs {
	margin-bottom: 15px;
	border-radius: 3px 3px 0 0;
	background-clip: padding-box;
	background-color: #f1f1f1;
}
.tabs-wrapper .tab-content {
	margin-bottom: 20px;
	padding: 0 10px;
	padding-bottom: 30px;
}

.media img.post-image {
	border-radius: 50%;
	width: 60px;
	background-clip: padding-box;
}
.tab-pane .wrapper {
	padding-right: 15px;
}

[type=email].form-control, [type=password].form-control, [type=tel].form-control, [type=text].form-control, input.form-control, input[type=email], input[type=number], input[type=password], input[type=text], textarea, textarea.form-control {
	padding: 5px;
}
textarea, textarea.form-control {
	border: 1px solid #e7ebee;
	font-size: 13px;
}
.has-error .form-control, .has-error .form-control:focus, .has-error input, .has-error input:focus {
	color: #e51c23;
}

.reveal-animation.ng-enter {
  -webkit-animation: enter_sequence 1s linear; /* Safari/Chrome */
  animation: enter_sequence 1s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

#gallery {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#gallery li {
	float: left;
	display: block;
	margin-top: 7px;
	margin-bottom: 7px;
	overflow: hidden;
	position: relative;
}
#gallery li .photo-box {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #eee;
	width: 100%;
	height: 100%;
	overflow: hidden;
	min-height: 100px;
	min-width: 100px;
	padding-top: 98%;
	display: block;
}

.produk-title {
	margin-bottom: 15px;
	letter-spacing: 5px; 
	margin-top: 15px;
}
h4.media-heading.produk-title {
	font-size: 1.7em;
}

.widget-products {
	list-style: none;
	margin: 0;
	padding: 0;
}
.widget-products li {
	border-bottom: 1px solid #ebebeb;
}
.widget-products li > a {
	height: 88px;
	display: block;
	width: 100%;
	padding: 3px 10px;
	position: relative;
	-webkit-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
	-moz-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
	-ms-transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
	transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s;
}
.widget-products li .img {
	display: block;
	float: left;
	text-align: center;
	width: 68px;
	height: 68px;
	border-radius: 10%;
	overflow: hidden;
	margin-top: 7px;
}
.widget-products li .product {
	display: block;
	margin-left: 90px;
	margin-top: 19px;
}
.widget-products li .product > .name {
	display: block;
	font-weight: 600;
	padding-bottom: 7px;
}
.widget-products li .product > .price, .widget-products li .product > .warranty {
	display: block;
	text-decoration: none;
	width: 40%;
	float: left;
	font-size: 0.875em;
}
.widget-products li .product > .warranty {
	width: 60%;
}

.media-object {
	max-width: 64px;
	max-height: 64px;
	border-radius: 10%;
}

.list-group-item {
	padding: 10px;
}
.list-group-item .img {
	float: left;
	margin-top: 8px;
	width: 50px;
	height: 50px;
	overflow: hidden;
	border-radius: 2%;
	background-clip: padding-box;
}
.list-group-item .img img {
	width: 50px;
}
.list-group-item .details {
	margin-left: 60px;
}
.list-group-item .details .name {
	font-weight: 600;
}
.list-group-item .details .time {
	font-size: 0.75em;
	padding-bottom: 7px;
}
.conversation-wrapper{padding:10px 20px;}@media (max-width: 767px) {.conversation-wrapper{padding:10px 5px;}}.conversation-wrapper .conversation-inner{padding:0 0 5px 0;margin-right:10px;}.conversation-wrapper .conversation-user{width:50px;height:50px;overflow:hidden;float:left;border-radius:50%;background-clip:padding-box;margin-top:6px;}.conversation-wrapper .conversation-item{padding:5px 0;position:relative;}.conversation-wrapper .conversation-item.item-right .conversation-body{background:#dceffc;}.conversation-wrapper .conversation-item.item-right .conversation-body:before{border-color:transparent transparent transparent #dceffc;left:auto;right:-12px;}.conversation-wrapper .conversation-item.item-right .conversation-user{float:right;}.conversation-wrapper .conversation-item.item-right .conversation-body{margin-left:0;margin-right:60px;}.conversation-wrapper .conversation-body{background:#f5f5f5;font-size:0.875em;width:auto;margin-left:60px;padding:8px 10px;position:relative;border-radius:3px;background-clip:padding-box;}.conversation-wrapper .conversation-body:before{border-color:transparent #f5f5f5 transparent transparent;border-style:solid;border-width:6px;content:"";cursor:pointer;left:-12px;position:absolute;top:25px;}.conversation-wrapper .conversation-body>.name{font-weight:600;font-size:1.125em;}.conversation-wrapper .conversation-body>.time{position:absolute;font-size:0.875em;right:10px;top:0;margin-top:10px;color:#605f5f;font-weight:300;}.conversation-wrapper .conversation-body>.time:before{content:"\f017";font-family:FontAwesome;font-style:normal;font-weight:normal;text-decoration:inherit;margin-top:4px;font-size:0.875em;}.conversation-wrapper .conversation-body>.text{padding-top:6px;}.conversation-wrapper .conversation-new-message{padding-top:10px;}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.footer ul {
	margin-bottom: 0;
	font-size: 0.9em;
	margin-top: 15px;
}

.footer li > a {
	color: #1B1B1B;
	font-weight: bold;
	font-size: 1em;
}

.list-group {
	margin-bottom: 0;
}

.img {
	width: 55px;
	height: 55px;
	text-align: center;
	overflow: hidden;
	background-color: #fefbfd;
	border: 1px solid #D9D9D9;
	border-radius: 2%;
	white-space: nowrap;
}
.img .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.img img {
	max-width: 55px;
	max-height: 55px;
	vertical-align: middle;
}



#gallery-photos-wrapper{position:relative;}.gallery-photos{list-style:none;margin:0;padding:0;position:relative;}.gallery-photos li{float:left;display:block;margin-top:7px;margin-bottom:7px;overflow:hidden;position:relative;}.gallery-photos li .photo-box{background-size:cover;background-repeat:no-repeat;background-position:center;background-color:#eee;width:100%;height:100%;overflow:hidden;min-width:100px;min-height:100px;padding-top:98%;display:block;}.gallery-photos li .photo-box.image-link{padding-top:68%;}.gallery-photos li:hover .photo-box:after{background:rgba(0,0,0,0.4);position:absolute;content:"";top:0;right:8px;bottom:0;left:8px;}.gallery-photos.gallery-photos-hover{cursor:move;}.gallery-photos .remove-photo-link{cursor:pointer;display:none;left:50%;margin-left:-18.5px;position:absolute;text-align:center;top:50%;margin-top:-18.5px;}.gallery-photos .thumb-meta-time{bottom:10px;color:#eee;font-size:0.75em;left:18px;position:absolute;}.gallery-photos li .remove-photo-link .icon-stack{font-size:2em;}.gallery-photos.gallery-photos-hover li:hover .remove-photo-link{display:block;}