	<footer class="page-footer z-depth-2" style="background-color:rgba(223,223,223,0.6)">
		<div class="container">
			<div class="row">
				<div class="col m3 s12">
					<h3 class="center-align grey-text text-darken-2" style="margin:0"><i class="mdi-social-poll"></i></h3>
					<h5 class="center-align grey-text text-darken-2" style="font-size:1.3rem;margin:0">Rekanan</h5>
					<hr>
					
					<p class="center-align" style="margin-top:20px">
						<img src="/img/bank-bca.png" alt="" style="width: 60px; margin-right: 5px;">
						<img src="/img/bank-mandiri.png" alt="" style="width: 50px; margin-right: 5px;">
						<img src="/img/bank-bri.png" alt="" style="width: 40px; margin-right: 5px;">
						<img src="/img/bank-bni.png" alt="" style="width: 50px;">
					</p>
					
					<p class="center-align">
						<img src="/img/pos.png" alt="" style="width: 50px; margin-right: 5px;">
						<img src="/img/jne.png" alt="" style="width: 50px; margin-right: 5px;">
						<img src="/img/kgp.png" alt="" style="width: 40px; margin-right: 5px;">
					</p>
				</div>
				<div class="col m3 s12">
					<h3 class="center-align grey-text text-darken-2" style="margin:0"><i class="mdi-action-exit-to-app"></i></h3>
					<h5 class="center-align grey-text text-darken-2" style="font-size:1.3rem;margin:0">Tautan Situs</h5>
					<hr>
					<ul class="list-unstyled">
						{% if not at_home %}<li><a href="/" class="grey-text"><i class="fa fa-fw fa-home"></i>Beranda</a></li>{% endif %}
						<li><a href="/direktori" class="light-blue-text">Direktori Bisnis Digital</a></li>
						<li><a href="/jual" class="light-blue-text">Tempat Jual Barang</a></li>
						<li><a href="/beli" class="light-blue-text">Tempat Beli Barang</a></li>
						<li><a href="/berita" class="light-blue-text">Kabar Bisnis</a></li>
						<li><a href="/info" class="light-blue-text">G2B &amp; Info</a></li>
						<li><a href="/fproduk" class="light-blue-text">Produk Utama</a></li>
					</ul>
				</div>
				<div class="col m3 s12">
					<h3 class="center-align grey-text text-darken-2" style="margin:0"><i class="mdi-action-loyalty"></i></h3>
					<h5 class="center-align grey-text text-darken-2" style="font-size:1.3rem;margin:0">TOS &amp; Bantuan</h5>
					<hr>
					<ul class="list-unstyled">
						<li><a href="/tos" class="light-blue-text">Aturan Kesepakatan dan Layanan</a></li>
						<li><a href="/help" class="light-blue-text">Bantuan &amp; FAQ</a></li>
						<!--<li><a href="/sitemap" class="light-blue-text">Peta Situs / Sitemap</a></li>-->
					</ul>
					
				</div>
				<div class="col m3 s12">
					<h3 class="center-align grey-text text-darken-2" style="margin:0"><i class="mdi-action-face-unlock"></i></h3>
					<h5 class="center-align grey-text text-darken-2" style="font-size:1.3rem;margin:0">Dukungan dan Kontak</h5>
					<hr>
					
					<p class="center-align" style="font-size: 0.87rem;">Email: admin@madura.bz</p>
					
					<p class="center-align" style="font-size: 1.2em">
						<a href="" class="grey-text"><span class="fa-stack text-muted" muter>
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span></a> 
						<a href="" class="grey-text"><span class="fa-stack text-muted" muter>
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span></a> 
						<a href="" class="grey-text"><span class="fa-stack text-muted" muter>
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
						</span></a> 
						<a href="" class="grey-text"><span class="fa-stack text-muted" muter>
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
						</span></a> 
						<a href="" class="grey-text"><span class="fa-stack text-muted" muter>
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
						</span></a> 
					</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container grey-text text-darken-1">
				&copy; 2015. MADURA.BZ &mdash; Seluruh isi dan hak cipta dilindung oleh Undang-undang
			</div>
		</div>
	</footer>