<!doctype html>
<html lang="en" data-ng-app="mdbz" data-ng-controller="MainCtrl" id="mdbz">
<head>
<meta charset="UTF-8">
<title>MADURA.BZ &mdash; Beranda &mdash; {{member_nama}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{% include 'pre-page.html' %}
</head>
<body>

	{% include 'header.html' %}
	
	<div class="section white z-depth-2">
		<div class="container">
			<div class="row" data-ng-controller="HomeDirektoriCtrl" data-ng-cloak>
				<div class="col s12">
					<h4 class="light-text yellow-text text-darken-3">
						Data Toko
					</h4>
					<hr>
					<br>
					
					{% if direktori %}
					<div class="row no-pad-bot">
						<div class="col s4 m3">
							<ul class="collection">
								{% for c in direktori %}
								<a href="" class="collection-item" data-ng-class="activeDirektori == {{c.id}} ? 'active' : ''" data-ng-click="setActiveDirektori({{c.id}}, '{{c.nama}}')"><i class="fa fa-angle-right"></i> {{c.nama}}</a>
								{% endfor %}
							</ul>
							<!-- scrollspy -->
							<div class="row">
								<div class="col hide-on-small-only m12" style="position:fixed" data-ng-hide="activeDirektori.length == 0">
									<ul class="section table-of-content">
										<li><a href="#data-utama" class="grey-text text-lighten-1">Data Utama</a></li>
										<li><a href="#im-socmed" class="grey-text text-lighten-1">IM dan SocMed</a></li>
										<li><a href="#selesai" class="grey-text text-lighten-1">Selesai</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% verbatim %}
						<div class="col s8 m9">
							<div class="row no-pad-bot">
								<div class="col s12" data-ng-show="activeDirektori.length == 0">
									<p class="light-blue lighten-1 white-text text-darken-3 z-depth-1" style="padding:20px;margin-bottom:50px;">
										<a href="/help#direktori" class="help white-text right" target="_blank" title="bantuan tentang direktori"><i class="fa fa-fw fa-question-circle"></i></a>
										
										<i class="fa fa-info-circle fa-3x left"></i> Pada halaman ini Anda dapat mengatur data profil direktori yang Anda miliki.<br>Pilih nama direktori disebelah kiri untuk mengatur direktori yang bersangkutan<br>
									</p>
								</div>
								
								<div class="col s12" data-ng-show="activeDirektori.length != 0">
									<h4 class="light-text">
										{{namaDirektori|uppercase}}
										<a href="" class="grey-text tooltipped right" data-tooltip="batalkan" data-ng-click="cancel()"><i class="mdi-content-reply"></i></a>
										<!--<a href="/home/produk" class="btn red darken-1 right tooltipped waves-effect waves-light" data-tooltip="atur produk toko"><i class="mdi-action-wallet-giftcard"></i></a>-->
									</h4>
									<div class="row" style="">
										<form role="form" class="col s12 grey lighten-4">
											<div class="section scrollspy" id="data-utama">
												<div class="row" data-ng-class="direktori.subdomain ? '' : 'no-pad-bot'">
													<div class="input-field col s4">
														<h5 class="light-text grey-text">Data Utama</h5>
													</div>
												</div>
												<div class="row grey-text text-darken-2" data-ng-hide="direktori.subdomain">
													<div class="input-field col m10 offset-m1 pad grey lighten-2">
														<p class="center-align">Setiap Toko yang Anda miliki harus memiliki alamat subdomain dengan pola: <br><span class="grey-text text-lighten-1">http://madura.bz/</span><strong class="light-blue-text underlined">nama.subdomain</strong>.<br>Cek ketersediaan nama subdomain pada input berikut:</p>
														<p style="font-size:0.75rem;margin-bottom:20px;" class="grey-text">* Nama subdomain hanya dapat diisi satu kali dan tidak dapat diubah. Karakter yang diperbolehkan adalah a-z, 0-9, dan titik (.)</p>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<i class="mdi-social-public prefix"></i>
														<input type="text" name="website" id="website" class="" placeholder="" maxlength="60" length="60" data-ng-model="direktori.web" data-ng-disabled="direktori.subdomain" check-subdomain-saved data-ng-pattern="/[a-z0-9\.]+/" style="text-transform:lowercase">
														<label for="website" data-ng-class="direktori.website.length > 0 ? 'active' : ''">
															<span class="default">SUBDOMAIN TOKO</span>
															<span class="loader right red-text hide"><i class="fa fa-spinner fa-spin"></i></span>
														</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<select name="kategori" id="kategori" data-ng-model="direktori.kategori" data-ng-options="c.id as c.nama for c in kategori" class="browser-default" required>
															<option value="">-- pilih kategori --</option>
														</select>
														<label for="kategori" class="active">Kategori Direktori</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<input type="text" name="nama" id="nama" class="" maxlength="80" length="80" data-ng-model="direktori.nama" required>
														<label for="nama" data-ng-class="direktori.nama.length > 0 ? 'active' : ''">Nama Usaha</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<select name="kota" id="kota" class="browser-default" data-ng-options="c.id as c.nama for c in kota" data-ng-model="direktori.kota" required>
															<option value="">-- pilih kota --</option>
														</select>
														<label for="kota" class="active">Kota Asal</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<input type="text" name="alamat" id="alamat" class="" maxlength="120" length="120" data-ng-model="direktori.alamat" required>
														<label for="alamat" data-ng-class="direktori.alamat.length > 0 ? 'active' : ''">Alamat Usaha</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<input type="text" name="alamat2" id="alamat2" class="" maxlength="120" length="120" data-ng-model="direktori.alamat2">
														<label for="alamat2" data-ng-class="direktori.alamat2.length > 0 ? 'active' : ''">Alamat Usaha 2 (Opsional)</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m4 offset-m1 pad">
														<input type="text" name="telepon" id="telepon" class="" placeholder="+62-___________" maxlength="30" length="30" data-ng-model="direktori.telepon" masked-input="+62-999999999?99" required>
														<label for="telepon" data-ng-class="direktori.telepon.length > 0 ? 'active' : ''">Telepon</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m4 offset-m1 pad">
														<input type="text" name="telepon2" id="telepon2" class="" placeholder="+62-___________" maxlength="30"length="30" data-ng-model="direktori.telepon2" masked-input="+62-999999999?99">
														<label for="telepon2" data-ng-class="direktori.telepon2.length > 0 ? 'active' : ''">Telepon 2 (Opsional)</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<textarea name="info" id="info" cols="30" rows="4" class="materialize-textarea" data-ng-model="direktori.info" required></textarea>
														<label for="info" data-ng-class="direktori.info.length > 0 ? 'active' : ''">Keterangan</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m4 offset-m1 pad">
														<input type="email" name="email" id="email" class="" maxlength="60" length="60" data-ng-model="direktori.email">
														<label for="email" data-ng-class="direktori.email.length > 0 ? 'active' : ''">Email (Opsional)</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<i class="mdi-maps-place prefix grey-text"></i>
														<input type="text" name="koordinat" id="koordinat" class="" placeholder="Koordinat" maxlength="60" length="60" data-ng-model="direktori.koordinat">
														<label for="koordinat" data-ng-class="direktori.koordinat.length > 0 ? 'active' : ''">Koordinat (Opsional)</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<i class="mdi-maps-place prefix grey-text"></i>
														<input type="text" name="koordinat2" id="koordinat2" class="" placeholder="Koordinat 2" maxlength="60" data-ng-model="direktori.koordinat2">
														<label for="koordinat2" data-ng-class="direktori.koordinat2.length > 0 ? 'active' : ''">Koordinat 2 (Opsional)</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m2 offset-m1 pad">
														<img data-ng-src="{{direktori.image}}" alt="thumb" class="responsive-img z-depth-1">
													</div>
												</div>
												<div class="row">
													<div class="file-field input-field col m10 offset-m1 pad">
														<input type="text" name="" id="" placeholder="file jpg, jpeg, png, maksimal 1 MB" class="file-path validate" disabled>
														<div class="btn green darken-1" style="left:10px;">
															<span>Foto</span>
															<input type="file" name="file" id="file" accept=".png,.jpg,.jpeg" simple-file-input>
														</div>
													</div>
												</div>
											</div>
											<div class="section scrollspy" id="im-socmed">
												<div class="row">
													<div class="input-field col s12">
														<h5 class="light-text grey-text">Instant Messaging</h5>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m5 offset-m1 pad">
														<i class="fa fa-whatsapp prefix grey-text"></i>
														<input type="text" name="wa" id="wa" class="form-control" placeholder="whatsapp" maxlength="20" data-ng-model="direktori.im.wa" length="20">
														<label for="wa">WHATSAPP</label>
													</div>
													<div class="input-field col m5 pad">
														<i class="fa fa-comments prefix grey-text"></i>
														<input type="text" name="bbm" id="bbm" class="form-control" placeholder="bbm" maxlength="20" data-ng-model="direktori.im.bbm" length="20">
														<label for="bbm">BBM</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m5 offset-m1 pad">
														<i class="fa fa-comments prefix grey-text"></i>
														<input type="text" name="line" id="line" class="form-control" placeholder="line" maxlength="20" data-ng-model="direktori.im.line" length="20">
														<label for="line">LINE</label>
													</div>
													<div class="input-field col m5 pad">
														<i class="fa fa-wechat prefix grey-text"></i>
														<input type="text" name="wechat" id="wechat" class="form-control" placeholder="wechat" maxlength="20" data-ng-model="direktori.im.wechat" length="20">
														<label for="wechat">WECHAT</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col s12">
														<h5 class="light-text grey-text">Social Media</h5>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<i class="fa fa-facebook-official prefix grey-text"></i>
														<input type="text" name="fb" id="fb" class="form-control" placeholder="https://" maxlength="60" data-ng-model="direktori.sm.fb" length="60">
														<label for="fb">Facebook</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<i class="fa fa-twitter prefix grey-text"></i>
														<input type="text" name="twitter" id="twitter" class="form-control" placeholder="https://" maxlength="60" data-ng-model="direktori.sm.twitter" length="60">
														<label for="twitter">Twitter</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<i class="fa fa-google-plus prefix grey-text"></i>
														<input type="text" name="gplus" id="gplus" class="form-control" placeholder="https://" maxlength="60" data-ng-model="direktori.sm.gplus" length="60">
														<label for="gplus">Google+</label>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1 pad">
														<i class="fa fa-instagram prefix grey-text"></i>
														<input type="text" name="ig" id="ig" class="form-control" placeholder="https://" maxlength="60" data-ng-model="direktori.sm.ig" length="60">
														<label for="ig">Instagram</label>
													</div>
												</div>
											</div>
											<div class="section scrollspy" id="selesai">
												<div class="row">
													<div class="input-field col s12">
														<h5 class="light-text grey-text">Selesai &amp; Simpan</h5>
													</div>
												</div>
												<div class="row">
													<div class="input-field col m10 offset-m1">
														<button class="btn-large green darken-2" save-direktori><i class="mdi-action-done left"></i> SIMPAN DATA</button>
														<a href="" class="btn-flat" data-ng-click="cancel()">BATALKAN</a>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						{% endverbatim %}
					</div>
					
					{% else %}
						{% if direktori_inprocess %}
					<div class="row no-pad-bot">
						<div class="col m12">
							<p class="center-align light-blue darken-1 white-text z-depth-1" style="padding:20px 10px;margin-bottom:0px;"><strong>Permintaan Anda sedang diproses dan divalidasi</strong><br>Harap tunggu beberapa saat sebelum MADURA.BZ memutuskan apakah permintaan Anda diterima atau tidak. Terima kasih telah menggunakan layanan kami :)</p>
						</div>
					</div>
						{% else %}
					<div class="row no-pad-bot">
						<div class="col m12">
							<p class="center-align light-blue darken-1 white-text z-depth-1" style="padding:20px 10px;margin-bottom:0px;"><strong>Terima kasih telah mengupgrade keanggotaan Anda</strong>, dan sekarang Anda bisa memiliki toko online yang dapat Anda gunakan untuk mempromosikan semua produk yang Anda miliki bersama kami.</p>
							<p class="smaller grey-text text-darken-2 grey lighten-4 z-depth-1" style="padding:15px 10px;margin-top:0px;">
								&bull; Jika Anda merasa bahwa ada data direktori di MADURA.BZ yang merupakan perusahaan Anda maka Anda dapat memilih <a href="" data-ng-click="setNewDirektori(1)">Dari Direktori.</a> (Anda harus menunggu MADURA.BZ memvalidasi hak kepemilikan Anda atas direktori tersebut)<br>
								&bull; Jika perusahaan Anda tidak terdapat di data direktori maka Anda dapat mem<a href="" data-ng-click="setNewDirektori(2)">Buat Toko Baru</a> yang otomatis menjadi direktori dan toko online Anda
							</p>
						</div>
					</div>
					<div class="row no-pad-bot">
						<div class="col s12 m3">
							<ul class="collection">
								<a href="" data-ng-click="setNewDirektori(1)" class="collection-item" data-ng-class="newDirektori == 1 ? 'active' : ''"><i class="fa fa-angle-right"></i> Dari Direktori</a>
								<a href="" data-ng-click="setNewDirektori(2)" class="collection-item" data-ng-class="newDirektori == 2 ? 'active' : ''"><i class="fa fa-angle-right"></i> Buat Toko Baru</a>
							</ul>
						</div>
						<div class="col m9">
							<p class="center-align" data-ng-show="newDirektori == 0"><strong>Pilih menu di panel sebelah kiri untuk mulai membuat toko online Anda</strong></p>
							<p class="center-align" data-ng-show="newDirektori == 0">
								<img src="/img/fn.png" alt="lock and gear">
							</p>
							
							<div class="row" data-ng-show="newDirektori == 1" style="margin-top:15px;">
								<div class="col s12">
									<div class="row">
										<div class="col s12">
											<h5 class="light-text center-align">Dari Direktori</h5>
											<hr>
										</div>
									</div>
									<div class="row no-pad-bot">
										<form action="/direktori/new" role="form" method="post" class="col s12" enctype="multipart/form-data">
											<div class="row">
												<div class="input-field col m12 pad">
													<select name="direktori" id="ndirektori" style="width: 100%" class="browser-default" data-ng-model="ndir.direktori" select2 required data-ng-change="loadDetail()">
														<option value="">-- cari direktori --</option>
														{% for c in edirektori %}
														<option value="{{c.id}}">{{c.nama}}</option>
														{% endfor %}
													</select>
													<label for="ndirektori" class="active">Cari Direktori Anda</label>
												</div>
											</div>
											{% verbatim %}
											<div class="row grey lighten-4" data-ng-hide="detailDirektori.length == 0">
												<div class="col s12 m10 offset-m1">
													<table class="smaller condensed table bordered">
														<tbody>
															<tr>
																<td colspan="2" class="center-align">
																	<img data-ng-src="{{detailDirektori.foto}}" class="z-depth-1" alt="">
																</td>
															</tr>
															<tr>
																<td><strong>Nama Direktori</strong></td>
																<td>: <a data-ng-href="{{detailDirektori.link}}" target="_blank">{{detailDirektori.nama}}</a></td>
															</tr>
															<tr>
																<td><strong>Kategori</strong></td>
																<td>: {{detailDirektori.kategori}}</td>
															</tr>
															<tr>
																<td><strong>Informasi</strong></td>
																<td>: {{detailDirektori.info}}</td>
															</tr>
														</tbody>
													</table>
													<br>
												</div>
											</div>
											{% endverbatim %}
											<div class="row no-pad-bot">
												<div class="file-field input-field col s12 pad">
													<input type="text" name="" id="" placeholder="file jpg, jpeg, png < 1MB" class="file-path validate" disabled>
													<div class="btn green darken-1" style="left:10px;">
														<span>Foto</span>
														<input type="file" name="file" id="file" accept=".png,.jpg,.jpeg" simple-file-input>
													</div>
													<label for="file" class="active">Bukti Kepemilikan (TDP / SIUP / Akta Pendirian)</label>
												</div>
											</div>
											<div class="row">
												<div class="col input-field s12" style="margin-top:0">
													<input type="checkbox" id="post-agree1" name="agree1" data-ng-model="ndir.check1"> <label for="post-agree1" class="label-text">Dengan ini saya menyatakan direktori tersebut benar-benar adalah hak milik saya sebagaimana yang tertera pada bukti yang saya berikan.</label>
												</div>
											</div>
											<div class="row">
												<div class="input-field col s12 pad">
													<button class="btn light-blue darken-1" save-new-direktori="1"><i class="mdi-action-done left"></i> KIRIM</button> <a href="" class="btn-flat" data-ng-click="newDirektori = 0">BATALKAN</a>
												</div>
											</div>
											<div class="row">
												<p class="red-text text-darken-2" style="font-size:0.7rem;font-weight:bold"><em>* Harap tunggu hingga MADURA.BZ memvalidasi hak kepemilikan Anda</em></p>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="row" data-ng-show="newDirektori == 2" style="margin-top:15px">
								<div class="col s12">
									<div class="row">
										<div class="col s12">
											<h5 class="light-text center-align">Buat Toko Baru</h5>
										</div>
									</div>
									<div class="row no-pad-bot">
										<p class="grey smaller white-text" style="padding: 20px 10px; margin-bottom:30px;">Data toko ini otomatis juga akan menjadi data direktori perusahaan Anda. Begitu toko online Anda kami proses, Anda dapat menambahkan detail informasi toko sewaktu-waktu.</p>
										<form action="/direktori/new" role="form" method="post" class="col s12" enctype="multipart/form-data">
											<div class="row">
												<div class="input-field col m8 pad">
													<i class="prefix mdi-maps-layers grey-text"></i>
													<select name="kategori" id="nkategori" class="browser-default" required style="margin-left:3rem">
														<option value="">-- pilih kategori --</option>
														{% verbatim %}
														<option value="{{c.id}}" data-ng-repeat="c in kategori">{{c.nama}}</option>
														{% endverbatim %}
													</select>
													<label for="kategori" class="active">Kategori Toko</label>
												</div>
											</div>
											<div class="row">
												<div class="input-field col m8 pad">
													<i class="prefix mdi-action-label grey-text"></i>
													<input type="text" name="nama" id="nnama" class="form-control" maxlength="80" length="80" data-ng-model="ndir.nama" required>
													<label for="nnama" class="active">Nama Toko</label>
												</div>
											</div>
											<div class="row">
												<div class="input-field col m12 pad">
													<i class="prefix mdi-action-room grey-text"></i>
													<input type="text" name="alamat" id="nalamat" class="form-control" maxlength="120" length="120" data-ng-model="ndir.alamat" required>
													<label for="nalamat" class="active">Alamat Toko</label>
												</div>
											</div>
											<div class="row">
												<div class="input-field col m4 pad">
													<i class="prefix mdi-communication-call grey-text"></i>
													<input type="text" name="telepon" id="ntelepon" class="form-control" placeholder="+62-___________" maxlength="15" length="15" masked-input="+62-999999999?99" data-ng-model="ndir.telepon" required>
													<label for="ntelepon">Telepon</label>
												</div>
												<div class="input-field col m4 offset-m1 pad">
													<i class="prefix mdi-maps-directions-subway grey-text"></i>
													<select name="kota" id="nkota form-control" class="browser-default" data-ng-model="ndir.kota" required style="margin-left:3rem">
														<option value="">-- pilih kota --</option>
														{% for c in kota %}
														<option value="{{c.id}}">{{c.nama}}</option>
														{% endfor %}
													</select>
													<label for="nkota" class="active">Kota Asal</label>
												</div>
											</div>
											<div class="row no-pad-bot">
												<div class="file-field input-field col m12 pad">
													<input type="text" name="" id="" placeholder="file jpg, jpeg, png, maksimal 1 MB" class="file-path validate" disabled>
													<div class="btn green darken-1" style="left:10px;">
														<span>Foto</span>
														<input type="file" name="file" id="file" accept=".png,.jpg,.jpeg" simple-file-input>
													</div>
													<label for="file" class="active">Bukti Kepemilikan (TDP / SIUP / Akta Pendirian)</label>
												</div>
											</div>
											<div class="row">
												<div class="col input-field s12" style="margin-top:0">
													<input type="checkbox" id="post-agree2" name="post.agree2" data-ng-model="ndir.check2"> <label for="post-agree2" class="label-text">Dengan ini saya menyatakan bahwa toko yang saya buat ini benar-benar adalah hak milik saya sebagaimana yang tertera pada bukti yang saya berikan serta tidak melanggar <a href="/tos">Peraturan dan Kesepakatan</a> yang ada.</label>
												</div>
											</div>
											<div class="row">
												<div class="input-field col s12 pad">
													<button class="btn light-blue darken-1" save-new-direktori="2"><i class="mdi-action-done left"></i> SIMPAN DATA</button> <a href="" class="btn-flat" data-ng-click="newDirektori = 0">BATALKAN</a>
												</div>
											</div>
											<div class="row">
												<p class="red-text text-darken-2" style="font-size:0.7rem;"><em>* Harap tunggu hingga MADURA.BZ memproses toko online Anda</em></p>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	
	{% include 'footer.html' %}
	
	{% include 'post-page.html' %}

</body>
</html>