<link rel="stylesheet" href="/css/animate.min.css">
<link rel="stylesheet" href="/css/materialize.min.css">
<link rel="stylesheet" href="/css/tools-lite.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/materialist_styles.css">
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
<script src="/js/modernizr.js"></script>	
<script src="/js/jquery-1.10.2.min.js"></script>	
<script src="/js/angular/angular.min.js"></script>
<script src="/js/angular/angular-locale_id.min.js"></script>
<script src="/js/angular/angular-loader.min.js"></script>
<script src="/js/angular/angular-route.min.js"></script>
<script src="/js/angular/angular-animate.min.js"></script>
<script src="/js/angular/angular-sanitize.min.js"></script>