<header class="navbar" id="header-navbar">
	<div class="container">
		<a href="#/home" id="logo" class="navbar-brand">
			<img src="img/logo.png" alt="" class="normal-logo logo-white">
			<img src="img/logo-black.png" alt="" class="normal-logo logo-black">
			<img src="img/logo-small.png" alt="" class="small-logo hidden-xs hidden-sm hidden">
		</a>
		<div class="clearfix">
		<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="fa fa-bars"></span>
		</button>
		<div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
			<ul class="nav navbar-nav pull-left">
				<li>
					<a class="btn" id="make-small-nav" make-small-nav>
						<i class="fa fa-bars"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="nav-no-collapse pull-right" id="header-nav">
			<ul class="nav navbar-nav pull-right">
				<!--<li class="mobile-search">
					<a class="btn">
						<i class="fa fa-search"></i>
					</a>
					<div class="drowdown-search">
						<form role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search...">
								<i class="fa fa-search nav-search-icon"></i>
							</div>
						</form>
					</div>
				</li>-->
				<li class="dropdown hidden-xs">
					<a class="btn dropdown-toggle" data-toggle="dropdown" data-ng-click="setTerbaca('info')">
						<i class="fa fa-warning"></i>
						<span class="count" data-ng-show="info.baru > 0">{{info.baru}}</span>
					</a>
					<ul class="dropdown-menu notifications-list">
						<li class="pointer">
							<div class="pointer-inner">
								<div class="arrow"></div>
							</div>
						</li>
						<li class="item-header" data-ng-show="info.baru > 0">
							Anda memiliki {{info.baru}} pemberitahuan baru
						</li>
						<li data-ng-repeat="c in info.item" class="item" data-ng-class="$index == 0 ? 'first-item' : ''">
							<a href="#/info">
								<i class="fa fa-user-plus" data-ng-show="c.type == '1'"></i>
								<i class="fa fa-money" data-ng-show="c.type == '2'"></i>
								<i class="fa fa-thumbs-down" data-ng-show="c.type == '3'"></i>
								<i class="fa fa-compass" data-ng-show="c.type == '4'"></i>
								<span class="content">{{c.isi}}</span>
								<span class="time">
									<i class="fa fa-clock-o"></i>{{c.waktu}}
								</span>
							</a>
						</li>
						<li class="item-footer" data-ng-show="info.item.length > 0"><a href="#/info">Lihat semua pemberitahuan</a></li>
					</ul>
				</li>
				<li class="dropdown hidden-xs">
					<a class="btn dropdown-toggle" data-toggle="dropdown" data-ng-click="setTerbaca()">
						<i class="fa fa-envelope-o"></i>
						<span class="count" data-ng-show="pesan.baru > 0">{{pesan.baru}}</span></span>
					</a>
					<ul class="dropdown-menu notifications-list messages-list">
						<li class="pointer" data-ng-show="pesan.item.length > 0">
							<div class="pointer-inner">
								<div class="arrow"></div>
							</div>
						</li>
						<li data-ng-repeat="c in pesan.item" class="item" data-ng-class="$index == 0 ? 'first-item' : ''">
							<a href="">
								<img data-ng-src="{{server|rootserver}}/{{c.foto}}" alt=""/>
								<span class="content">
									<span class="content-headline">{{c.nama}}</span>
									<span class="content-text">{{c.isi}}</span>
								</span>
								<span class="time">
									<i class="fa fa-clock-o"></i>{{c.waktu}}
								</span>
							</a>
						</li>
						<li class="item-footer" data-ng-show="pesan.item.length > 0"><a href="#/pesan">Lihat semua pesan</a></li>
					</ul>
				</li>
				<li class="dropdown profile-dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
						<img data-ng-src="{{server|rootserver}}/{{myDetails.foto}}" alt=""/>
						<span class="hidden-xs">{{myDetails.nama}}</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="" show-modal="" data-target="modal-0"><i class="fa fa-newspaper-o"></i>Ubah Profil</a>
						</li>
						<li>
							<a href="#/pesan"><i class="fa fa-envelope-o"></i>Pesan</a>
						</li>
						<li>
							<a href="" data-ng-click="logout()"><i class="fa fa-power-off"></i>Logout</a>
						</li>
					</ul>
				</li>
				<li class="hidden-xxs">
					<a class="btn" data-ng-click="logout()"><i class="fa fa-power-off"></i></a>
				</li>
			</ul>
		</div>
		</div>
	</div>
</header>

