<div id="theme-wrapper">
	
	<div data-ng-include="'html/header-main.html'"></div>
	
	<div id="page-wrapper" class="container">
		<div class="row">
			
			<div data-ng-include="'html/sidebar-menu.html'"></div>
			
			<div id="content-wrapper">
				<div data-ng-include="getIncludeFile()"></div>
				<div data-ng-include="'html/footer-main.html'"></div>
			</div>
		</div>
	</div>
</div>

<!-- modal untuk ubah profil -->
<div class="md-modal md-effect-3" id="modal-0">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Sunting Profil</h4>
		</div>
		<div class="modal-body">
			<div class="container">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="modalInputNama" class="col-md-3 control-label">Nama Profil</label>
						<div class="col-md-6">
							<input type="text" name="nama" id="modalInputNama" class="form-control" data-ng-model="myInputDetails.nama" required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-4 col-lg-offset-3">
							<img data-ng-src="{{server|rootserver}}/{{myDetails.foto}}" alt="thumb" class="img-thumbnail">
						</div>
					</div>
					<div class="form-group">
						<label for="file" class="col-md-3 control-label">Gambar</label>
						<div class="col-md-3">
							<span class="btn btn-success btn-sm btn-block btn-file">
								<span><i class="fa fa-file-o"></i> Pilih Berkas</span>
								<input type="file" name="file" id="file" accept=".png,.jpg,.jpeg" simple-file-input>
							</span>
						</div>
						<div class="col-lg-6"><small class="help-block"><em>format file jpg, jpeg, png, maksimal berukuran 2 MB</em></small></div>
					</div>
					<fieldset>
						<legend>&nbsp;</legend>
						<div class="form-group">
							<label for="modalInputPassword" class="col-md-3 control-label">Password Baru</label>
							<div class="col-md-4">
								<input type="password" name="password" id="modalInputPassword" class="form-control" data-ng-model="myInputDetails.pass" required>
							</div>
							<div class="col-lg-5"><small class="text-muted help-block"><em>password minimal 6 karakter<br>kosongkan bila tidak ingin diganti</em></small></div>
						</div>
						<div class="form-group">
							<label for="modalInputPassword2" class="col-md-3 control-label">Ulangi Password</label>
							<div class="col-md-4">
								<input type="password" name="password2" id="modalInputPassword2" class="form-control" data-ng-model="myInputDetails.pass2" required>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default"><i class="fa fa-close"></i> BATAL</button>
			<button type="button" class="btn btn-primary" id="message-send" simpan-profil><i class="fa fa-check"></i> SIMPAN</button>
		</div>
	</div>
</div>

<!-- modal untuk info direktori -->
<div class="md-modal md-effect-8" id="modal-1">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">{{infoData.nama}}</h4>
		</div>
		<div class="modal-body">
			<div class="container">
				hahh
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default"><i class="fa fa-close"></i> TUTUP</button>
		</div>
	</div>
</div>

<!-- modal untuk mengirim pesan -->
<div class="md-modal md-effect-5" id="modal-2">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Kirim Pesan</h4>
		</div>
		<div class="modal-body">
			<div class="container">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label for="modalInputFor" class="col-md-3 control-label">Penerima</label>
						<div class="col-md-6">
							<input type="text" name="for" id="modalInputFor" class="form-control" data-ng-model="message.forName" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="modalInputText" class="col-md-3 control-label">Pesan</label>
						<div class="col-md-8">
							<textarea name="" id="modalInputText" cols="30" rows="4" class="form-control" data-ng-model="message.message" data-ng-focus="message.message.length == 0"></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default"><i class="fa fa-close"></i> BATAL</button>
			<button type="button" class="btn btn-primary" simpan-pesan-modal id="message-send"><i class="fa fa-send"></i> KIRIMKAN</button>
		</div>
	</div>
</div>
<div class="md-overlay"></div><!-- the overlay element -->
