<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div id="login-box">
				<div id="login-box-holder">
					<div class="row">
						<div class="col-xs-12">
							<header id="login-header">
								<div id="login-logo">
									<img src="img/logo.png" alt=""/>
								</div>
							</header>
							<div id="login-box-inner">
								<form role="form">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-user"></i></span>
										<input class="form-control" type="email" placeholder="Alamat Email" data-ng-model="login.email">
									</div>
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-key"></i></span>
										<input type="password" class="form-control" placeholder="Password" data-ng-model="login.password">
									</div>
									<div id="remember-me-wrapper">
										<div class="row">
											<div class="col-xs-6">
												<div class="checkbox-nice">
													<input type="checkbox" id="remember-me" data-ng-model="login.remember"/>
													<label for="remember-me">Ingat saya</label>
												</div>
											</div>
											<a href="forgot-password.html" id="login-forget-link" class="col-xs-6">Lupa password?</a>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<button type="submit" class="btn btn-success col-xs-12" data-ng-click="signin()">Login</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
