<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
					<li><a href="#/home">Beranda</a></li>
					<li class="active"><span>Pesan</span></li>
				</ol>
				<h1>Pesan</h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div class="main-box clearfix">
					<header class="main-box-header clearfix">
						<h2>Pesan</h2>
					</header>
					<div class="main-box-body clearfix">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-4">
								<ul class="widget-users row" scrollable data-height="400px">
									<li class="col-md-12" data-ng-repeat="c in chatList">
										<div class="img">
											<a href="" data-ng-click="loadPesan(c.id, c.tipe, c.foto)"><img data-ng-src="{{server|rootserver}}/{{c.foto}}" alt="" style="width: 50px;"></a>
										</div>
										<div class="details">
											<div class="name"><a href="" data-ng-click="loadPesan(c.id, c.tipe, c.foto)">{{c.nama}}</a></div>
											<div class="time"><i class="fa fa-clock-o"></i> {{c.tanggal}}</div>
											<div class="type">
												<span class="label" data-ng-class="c.tipe == 'Administrator' ? 'label-danger' : 'label-info'"><span data-ng-show="c.tipe == 'Anggota' && c.valid == '1'"><i class="fa fa-check-circle"></i> </span>{{c.tipe}}</span>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-md-8 col-sm-8 col-xs-8">
								<div data-ng-show="idSelected == ''" style="height: 350px">
									<p class="text-center text-muted"><small><i class="fa fa-info-circle"></i> Pilih nama anggota atau administrator di panel sebelah kiri untuk melihat percakapan.</small></p>
									<p class="lead text-center text-muted"><i class="fa fa-3x fa-comments"></i></p>
								</div>
								<div class="conversation-wrapper" data-ng-show="idSelected != ''">
									<div class="conversation-new-message">
										<form>
											<div class="form-group" style="margin-bottom: 3px;">
												<textarea name="" id="" rows="3" class="form-control" placeholder="Pesan Baru" data-ng-model="newMessage"></textarea>
											</div>
											<div class="clearfix">
												<button class="btn btn-primary pull-right" simpan-pesan><i class="fa fa-send"></i> KIRIMKAN</button>
											</div>
										</form>
									</div>
									<div class="conversation-content">
										<div class="slimScrollDiv" scrollable data-height="350px" data-start="bottom">
											<div class="conversation-inner">
												<div class="conversation-item clearfix" data-ng-class="c.f == 'me' ? 'item-left' : 'item-right'" data-ng-repeat="c in chat">
													<div class="conversation-user">
														<img data-ng-src="{{server|rootserver}}/{{myDetails.foto}}" data-ng-show="c.f == 'me'" alt="">
														<img data-ng-src="{{server|rootserver}}/{{fotoSelected}}" data-ng-hide="c.f == 'me'" alt="">
													</div>
													<div class="conversation-body">
														<div class="name">{{c.f == 'me' ? myDetails.nama : c.f}}</div>
														<div class="time hidden-xs"> {{c.t}}</div>
														<div class="text" data-ng-bind-html="c.i">{{c.i}}</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>