<!DOCTYPE html>
<html lang="en" data-ng-app="mdbz" data-ng-controller="MainCtrl" id="mdbz">
<head>
	<meta charset="UTF-8">
	<title>MADURA.BZ &mdash; DATA {{type|upper}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	{% include 'pre-page.html' %}

</head>
<body>

<div class="container">
	
	{% include 'header.html' %}
	
	<hr class="header">
	
	<div class="row">
		<div class="col-md-4">
			<h5 class="text-muted" style="letter-spacing: 5px;">
				<i class="fa fa-newspaper-o"></i> {{type|upper}}
			</h5>
		</div>
		<div class="col-md-8">
			<form class="form-inline pull-right" action="/{{type}}">
				<div class="form-group">
					<label for="query" class="sr-only">Pencarian</label>
					<input type="text" name="query" id="query" class="form-control" value="{{param.query}}" style="width: 200px;">
					<button class="btn btn-default"><i class="fa fa-search"></i> CARI</button>
				</div>
			</form>
		</div>
	</div>
	<hr class="main" style="margin: 1.4em 0">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<br>
				{% if data %}
				<div class="table-responsive">
					<table class="table table-condensed table-hover">
						<tbody>
							{% for c in data %}
							<tr>
								<td style="padding-top: 10px;">
									<a href="{{c.link}}"><div class="img"><span class="helper"></span><img src="{{c.foto}}" alt=""></div></a>
								</td>
								<td style="width: 30%">
									<a href="{{c.link}}" style="font-size: 1.1em;">{{c.judul}}</a><br>
									<small class="text-muted" style="font-size: 0.87em"><i class="fa fa-calendar"></i> {{c.tanggal}}</small>
								</td>
								<td style="padding-top: 10px; line-height: 1em;"><p>{{c.isi}}</p></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="well well-sm text-center">
					<h5 class="text-info"><i class="fa fa-file-o"></i> Tidak Ada Hasil</h5>
				</div>
				{% endif %}
			</div>
			<div class="panel-footer text-center">
				{% if data %}
				<ul class="pagination pagination-sm" style="margin: 10px 0;">
					<li{% if cpage == 0 %} class="disabled"{% endif %}><a href="/{{type}}?{{link}}&cpage=0">&laquo;</a></li>
					{% for i in 0..(numpage - 1) %}
					<li{% if cpage == loop.index0 %} class="active"{% endif %}><a href="/{{type}}?{{link}}&cpage={{loop.index0}}">{{loop.index}} <span class="sr-only">(current)</span></a></li>
					{% endfor %}
					<li{% if cpage == (numpage - 1) %} class="disabled"{% endif %}><a href="/{{type}}?{{link}}&cpage={{numpage - 1}}">&raquo;</a></li>
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
	
	<hr class="main">
	
	{% include 'footer.html' %}

</div>

{% include 'post-page.html' %}

</body>
</html>