<div class="footer hidden-print">
	<div class="row">
		<div class="col-lg-4">
		
		</div>
		<div class="col-lg-4">
			<h5>Tautan Situs</h5>
			<ul class="list-unstyled">
				<li><a href="/direktori"><i class="fa fa-fw fa-caret-right"></i>Direktori Bisnis</a></li>
				<li><a href="/jual"><i class="fa fa-fw fa-caret-right"></i>Jual Barang</a></li>
				<li><a href="/beli"><i class="fa fa-fw fa-caret-right"></i>Beli Barang</a></li>
				<li><a href="/berita"><i class="fa fa-fw fa-caret-right"></i>Berita Bisnis</a></li>
				<li><a href="/info"><i class="fa fa-fw fa-caret-right"></i>Sekilas Madura</a></li>
				<li><a href="/fproduk"><i class="fa fa-fw fa-caret-right"></i>Produk</a></li>
			</ul>
		</div>
		<div class="col-lg-4">
			<h5>Dukungan dan Kontak</h5>
			<ul class="list-unstyled">
				<li><strong>Email: admin@madura.bz</strong></li>
			</ul>
			<p style="font-size: 0.8em;">
				&copy; MADURA.BZ<br>Seluruh isi dan hak cipta dilindung oleh Undang-undang.
			</p>
			<hr>
			<p style="font-size: 0.8em;">
				<a href="/tos">Aturan Kesepakatan dan Layanan</a>
			</p>
		</div>
	</div>
</div>