
{% if authenticate %}

<div class="row hidden-print">
	<div class="col-md-8">
		<a href="/" class="pull-left hidden-xs"><img src="/img/logo-long.png" alt=""></a>
		<h3 class="page-title text-center" style="margin-top: 0; line-height: 0.5em;">
			<br>
			{% if member_valid %}<i class="fa fa-check-circle text-primary"></i> {% endif %}{{member_nama|upper}}
			<br><br>
			{% if not path %}
			<a href="/home" class="tooltips" title="beranda" data-placement="bottom"><span class="fa-stack text-muted"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-home fa-stack-1x fa-inverse"></i></span></a> 
			{% endif %}
			<a href="/anggota/{{member_kode}}" class="tooltips" title="lihat profil" data-placement="bottom"><span class="fa-stack text-muted"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-male fa-stack-1x fa-inverse"></i></span></a> 
			<a href="/home/pesan" class="tooltips" title="pesan" data-placement="bottom"><span class="fa-stack{% if member_pesan %} text-danger{% else %} text-muted{% endif %}"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i></span></a>
		</h3>
		<!--<p class="text-muted pull-left">
			Profil Anda tidak lengkap.
		</p>-->
	</div>
	<div class="col-md-4 col-xs-12">
		<ul class="nav nav-pills top-menu">
			<li role="presentation"><a href="" show-modal data-target="modal-3"><i class="fa fa-paint-brush"></i> EDIT PROFIL</a></li>
			<li role="presentation"><a href="" data-ng-click="logout()"><i class="fa fa-power-off"></i> LOGOUT</a></li>
		</ul>
		{% verbatim %}
		<a href="/home/checkout" class="btn btn-default btn-lg pull-right" data-ng-cloak>
			<span class="label" data-ng-class="item.length > 0 ? 'label-warning' : 'label-default'">{{item.length}}</span> &nbsp;BARANG 
			<!--<span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>-->
			<i class="fa fa-shopping-cart fa-lg"></i>
		</a>
		{% endverbatim %}
		{% if member_order %}
		<a href="/home/order" class="btn btn-default btn-lg pull-right tooltips" title="pemesanan" data-placement="bottom">
			<i class="fa fa-ticket fa-lg text-warning"></i>
		</a>
		{% endif %}
	</div>
</div>

{% else %}
<!-- belum login -->

<div class="row hidden-print">
	<div class="col-md-9">
		<a href="/" class="pull-left hidden-xs" style="margin-right: 10px;"><img src="/img/logo-long.png" alt=""></a>
		<h3 class="page-title pull-left">
			MADURA.BZ &mdash; JUAL BELI &amp; DIREKTORI BISNIS MADURA<br>
			<p class="text-center">
			<small class="text-muted" style="font-size: 0.6em;">
				<em><i class="fa fa-quote-left"></i> Pengembangan ekonomi Madura secara global melalui industri dan <br>perdagangan untuk menyongsong Perdagangan Bebas Asia Tenggara</em>
			</small>
			</p>
		</h3>
	</div>
	<div class="col-md-3">
		<ul class="nav nav-pills pull-right">
			{% if not registering %}
			<li role="presentation"><a href="/daftar"><i class="fa fa-pencil-square"></i> DAFTAR</a></li>
			<li role="presentation"><a href="#" data-toggle="modal" data-target="#login"><i class="fa fa-sign-in"></i> LOGIN</a></li>
			{% else %}
			<li role="presentation">&nbsp;</li>
			{% endif %}
		</ul>
		
		{% verbatim %}
		<button type="button" class="btn btn-default btn-lg pull-right" data-ng-cloak onclick="alertify.error('Anda harus login untuk melakukan checkout')">
			<span class="label" data-ng-class="item.length > 0 ? 'label-warning' : 'label-default'">{{item.length}}</span> &nbsp;BARANG 
			<!--<span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>-->
			<i class="fa fa-shopping-cart fa-lg"></i>
		</button>
		{% endverbatim %}
	</div>
</div>

{% endif %}

<div class="row visible-print">
	<table class="table">
		<tr>
			<td><img src="/img/logo-long.png" alt="" class="" style="pull-left"></td>
			<td><h3 class="page-title pull-left">
			MADURA.BZ &mdash; JUAL BELI &amp; DIREKTORI BISNIS MADURA<br>
			<small class="text-muted"><em><i class="fa fa-quote-left"></i> Pengembangan ekonomi Madura secara global melalui industri dan <br>perdagangan untuk menyongsong Perdagangan Bebas Asia Tenggara</em></small>
		</h3></td>
		</tr>
	</table>
	<hr>
</div>

<nav class="navbar navbar-default hidden-print" role="navigation" style="margin-bottom: 0; margin-top: 10px;">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/" class="navbar-brand text-danger">MADURA.BZ</a>
	</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li{% if direktori %} class="active"{% endif %}><a href="/direktori">Direktori</a></li>
			<li{% if jual %} class="active"{% endif %}><a href="/jual">Jual Barang</a></li>
			<li{% if beli %} class="active"{% endif %}><a href="/beli">Beli Barang</a></li>
			<li{% if berita %} class="active"{% endif %}><a href="/berita">Berita Ekonomi</a></li>
			<li{% if info %} class="active"{% endif %}><a href="/info">G2B &amp; Info</a></li>
			<li{% if produk %} class="active"{% endif %}><a href="/fproduk">Produk</a></li>
		</ul>
	</div>
</nav>