	<div class="navbar navbar-default hidden-print" style="margin-top: 10px;">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li><img src="{{member_foto}}" alt=""></li>
				<li{% if path == ' ' %} class="active"{% endif %}><a href="/home">BERANDA</a></li>
				<li{% if path == 'post' %} class="active"{% endif %}><a href="/home/post">KIRIMAN</a></li>				
				{% if member_direktori %}
				<li{% if path == 'direktori' %} class="active"{% endif %}><a href="/home/direktori">DIREKTORI</a></li>				
				<li{% if path == 'produk' %} class="active"{% endif %}><a href="/home/produk">PRODUK</a></li>
				{% endif %}
				
				{% if path == 'order' %}<li class="active"><a href="/home/order"><span class="text-muted">ORDER</span></a></li>{% endif %}	
				{% if path == 'pesan' %}<li class="active"><a href="/home/pesan"><span class="text-muted">PESAN</span></a></li>{% endif %}	
				{% if path == 'checkout' %}<li class="active"><a href="/home/checkout"><span class="text-muted">CHECKOUT</span></a></li>{% endif %}	
			</ul>
		</div>
	</div>