<!DOCTYPE html>
<html lang="en" data-ng-app="mdbz" data-ng-controller="MainCtrl" id="mdbz">
<head>
	<meta charset="UTF-8">
	<title>MADURA.BZ &mdash; Pendaftaran Anggota</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	{% include 'pre-page.html' %}
</head>
<body>

<div class="container">
	{% include 'header.html' %}
	
	<hr class="header">
	<h2 class="text-center">PENDAFTARAN</h2>
	<hr class="main">
	<div class="row" data-ng-controller="LoginCtrl">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<div data-ng-show="registered" class="reveal-animation" data-ng-cloak>
						<h3 class="text-center text-success"><i class="fa fa-check-circle"></i> Pendaftaran Berhasil</h3>
						<div class="alert alert-warning">
							<p class="alert alert-warning">Anda berhasil terdaftar di situs web MADURA.BZ dan siap menggunakan layanan yang ada pada situs web ini. <strong>Silakan login menggunakan email yang telah Anda masukkan dan gunakan password berikut:</strong></p>
							{% verbatim %}
							<p class="text-center"><strong style="font-size: 2em;">{{password}}</strong></p>
							{% endverbatim %}
							<p><br><em><small>* segera ganti password Anda setelah masuk ke sistem</small></em></p>
						</div>
						<form role="form" action="/login" method="post" class="form-inline text-center">
							<div class="form-group">
								<label for="email-login" class="sr-only">Alamat Email</label>
								<input type="email" name="email" id="email-login" class="form-control" data-ng-model="user.email">
							</div>
							<div class="form-group">
								<label for="password-login" class="sr-only">Password</label>
								<input type="password" name="password" id="password-login" class="form-control" data-ng-model="password">
							</div>
							<button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> LOGIN</button>
						</form>
					</div>
					
					<form style="margin-top: 20px; margin-bottom: 20px;" class="reveal-animation" novalidate data-ng-hide="registered" data-ng-cloak>
						<div class="form-group">
							<label for="login-email">
								<span class="text-muted hide"><i class="fa fa-refresh fa-spin"></i> &nbsp;</span>Alamat Email
							</label>
							<input type="email" class="form-control" id="login-email" placeholder="Masukkan Email" data-ng-model="user.email" required check-email-saved>
						</div>
						<div class="form-group">
							<label for="login-nama">Nama Lengkap</label>
							<input type="text" class="form-control" id="login-nama" placeholder="Nama Lengkap" data-ng-model="user.nama" required>
						</div>
						<div class="form-group">
							<label for="login-telp">Telepon</label>
							<input type="text" class="form-control" id="login-telp" placeholder="+62-___________" data-ng-model="user.telepon" masked-input="+62-999999999?99" required>
						</div>
						<div class="checkbox">
							<label style="line-height: 1em; font-style: italic;">
								<input type="checkbox" data-ng-model="user.agree"> Dengan ini saya menyatakan bahwa telah membaca dan patuh pada <a href="/tos">Peraturan dan Kesepakatan</a> dalam menggunakan layanan di situs web MADURA.BZ
							</label>
						</div>
						<div class="form-group text-center">
							<button type="button" class="btn btn-primary btn-lg" save-register><i class="fa fa-check-circle-o"></i> Daftar Sekarang</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6 hidden-xs hidden-sm" style="position: relative;">				
			<img src="/img/register.jpg" alt="" class="img-responsive img-rounded" style="position: absolute; top: 0px; width: 98%;">
			<div class="caption" style="position: absolute; top: 0px; opacity: 0.9; width: 98%;">
				<p class="alert alert-success">
					<i class="fa fa-user-plus fa-3x pull-left"></i> Untuk menjadi anggota sangatlah mudah, cukup isikan <strong>Email, Nama dan Nomor Telepon</strong> maka Anda sudah dapat mulai bertransaksi dan berbisnis di situs MADURA.BZ.
				</p>
			</div>
		</div>
	</div>
	<hr class="main">
	
	{% include 'footer.html' %}

</div>

{% include 'post-page.html' %}

</body>
</html>