<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="/login">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">
					<span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-unlock fa-stack-1x fa-inverse"></i></span> 
					MASUK SITUS
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="email">Alamat email</label>
					<input type="email" class="form-control" name="email" id="email" placeholder="Masukkan Email">
				</div>
				<div class="form-group">
					<label for="pass">Password</label>
					<input type="password" class="form-control" name="password" id="pass" placeholder="Password">
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-default"><strong><i class="fa fa-key"></i> MASUK</strong></button>
			</div>
			</form>
		</div>
	</div>
</div>

<!-- modal untuk mengirim pesan -->
<div class="md-modal md-effect-5" id="modal-2">
	<div class="md-content">
		<div class="modal-header">
			<button class="md-close close">&times;</button>
			<h4 class="modal-title">Kirim Pesan</h4>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<form role="form" class="form-horizontal">
					<div class="form-group">
						<label for="modalInputFor" class="col-md-3 control-label">Penerima</label>
						<div class="col-md-8">
							<input type="text" name="for" id="modalInputFor" class="form-control" data-ng-model="message.forName" disabled>
						</div>
					</div>
					<div class="form-group">
						<label for="modalInputText" class="col-md-3 control-label">Pesan<br><small class="text-muted"><span class="type-maximal-counter">160</span> karakter tersisa</small></label>
						<div class="col-md-8">
							<textarea name="" id="modalInputText" cols="30" rows="4" class="form-control" data-ng-model="message.message" data-ng-focus="message.message.length == 0" type-maximal="160"></textarea>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default"><i class="fa fa-close"></i> BATAL</button>
			<button type="button" class="btn btn-primary" id="message-send" save-message-modal><i class="fa fa-send"></i> KIRIMKAN</button>
		</div>
	</div>
</div>
<!-- akhir modal -->

<div class="md-overlay"></div><!-- the overlay element -->

<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-ui.custom.min.js"></script>
<script src="/js/helper.min.js"></script>
<script src="/js/tools.min.js"></script>

<script src="/js/custom/app.js"></script>
<script src="/js/custom/directive.js"></script>
<script src="/js/custom/directive-form.js"></script>
<script src="/js/custom/main-ctrl.js"></script>