<link rel="stylesheet" href="/css/lumen-bootstrap.min.css">
<link rel="stylesheet" href="/css/tools.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/simplist_styles.css">
<link type="image/x-icon" href="/favicon.png" rel="shortcut icon">

<!--
<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
-->

<script src="/js/modernizr.js"></script>	
<script src="/js/jquery-1.10.2.min.js"></script>	
<script src="/js/angular/angular.min.js"></script>
<script src="/js/angular/angular-locale_id.min.js"></script>
<script src="/js/angular/angular-loader.min.js"></script>
<script src="/js/angular/angular-route.min.js"></script>
<script src="/js/angular/angular-animate.min.js"></script>
<script src="/js/angular/angular-sanitize.min.js"></script>