<!DOCTYPE html>
<html lang="en" data-ng-app="mdbz" data-ng-controller="MainCtrl" id="mdbz">
<head>
	<meta charset="UTF-8">
	<title>MADURA.BZ &mdash; {{nama|upper}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	{% include 'pre-page.html' %}

{% if direktori != 'Semua Produk' %}
<script>
	window.produk = '{{id}}';
	window.member = '{{member_kode}}';
</script>
{% endif %}
	
</head>
<body>
<div class="container">
	
	{% include 'header.html' %}
	
	<hr class="header">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="media">
					<h5>
						<span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-code fa-stack-1x fa-inverse"></i></span>
						{{nama|upper}} 
						{% if stok %}<sup class="label label-success"><small style="color: #fff">TERSEDIA</small></sup>{% endif %}
						{% if direktori == 'Semua Produk' and stok == 0 %}<sup class="label label-danger"><small style="color: #fff">TERJUAL</small></sup>{% endif %}
						<small class="btn-group pull-right">
							<a href="/katalog/{{direktori_id}}" class="btn btn-default"><i class="fa fa-download"></i> Katalog</a>
							<a href="{{direktori_link}}" class="btn btn-warning"><i class="fa {% if direktori == 'Semua Produk' %}fa-search{% else %}fa-home{% endif %}"></i> {{direktori}}</a>
						</small>
					</h5>
					<hr class="main" style="margin: 1.4em 0px">
					<div class="pull-left col-md-3">
						<img src="{{foto[0]}}" alt="" class="img-responsive zoomable-gallery" data-zoom-image="{{foto[0]}}">
						<div style="margin-top: 10px;" class="well well-sm text-center">
							<h5><strong class="text-success">Rp. {{harga}},-</strong></h5>
						</div>
					</div>
					<div class="col-md-7">
						{% autoescape false %}
						<div style="line-height: 1.3em;">
							<ol class="breadcrumb" style="font-weight: bold">
								<li><a href="/">Beranda</a></li>
								<li><a href="{{direktori_link}}">{{direktori}}</a></li>
								<li class="active">{{nama}}</li>
							</ol>
							
							{% if (direktori == 'Semua Produk') %}
							<strong class="text-muted"><a href="/fproduk?kategori={{id_kategori}}"><i class="fa fa-tags"></i> {{kategori}}</a></strong>
							{% else %}
							<strong class="text-muted"><i class="fa fa-tags"></i> {{kategori}}</strong>
							{% endif %}
							
							<br><br>
							<div class="well well-sm">
							{{info}}
							</div>
							{% if stok %}
						
							<button class="btn btn-primary btn-sm pull-right" data-ng-click="addItem({{id}})" data-ng-hide="itemTaken({{id}})">TAMBAH KE KERANJANG <i class="fa fa-cart-plus"></i></button>
							
							{% endif %}
						</div>
						{% endautoescape %}
					</div>
					<div class="col-md-2">
						<div class="well">&nbsp;</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<ul id="gallery" class="clearfix">
					{% for c in foto %}
					<li id="0{{loop.index}}" class="col-md-2 col-sm-3 col-xs-6">
						<a href="" data-zoom-image="{{c}}" data-image="{{c}}"><div class="photo-box" style="background-image: url('{{c}}');"></div></a>
					</li>
					{% endfor %}
				</ul>
				<hr class="main">
				<div class="media">
					{% if direktori != 'Semua Produk' %}
					<h5>
						<span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-binoculars fa-stack-1x fa-inverse"></i></span>
						REVIEW PRODUK
					</h5>
					<div class="col-md-8" data-ng-controller="ProdukCtrl" data-ng-cloak>
						<div class="well" data-ng-hide="reviewList">
							<h3 class="text-center text-info"><i class="fa fa-file-o"></i> Belum ada Review</h3>
						</div>
						
						{% verbatim %}
						<div data-ng-show="reviewList" data-ng-repeat="c in reviewList" data-ng-show="c.lihat">
							<div class="media" style="padding-bottom: 5px;">
								<a data-ng-href="{{c.link}}" class="pull-left">
									<img data-ng-src="{{c.foto}}" alt="" class="post-image">
								</a>
								<div class="media-body full-width">
									<h4 class="media-heading">
										<a data-ng-href="{{c.link}}"><span data-ng-show="c.valid"><i class="fa fa-check-circle"></i> </span>{{c.nama}}</a>
										<small class="text-muted pull-right"><i class="fa fa-clock-o"></i> {{c.tanggal}}</small>
									</h4>
									<p style="margin-bottom: 10px">
										<span data-ng-bind-html="c.isi">{{c.isi}}</span>
										<span>
											<br><br>
											<span class="btn-group pull-right">
												<a href="" class="btn btn-primary btn-xs" data-ng-show="c.setuju" data-ng-click="setStatus(c.id, 2)"><i class="fa fa-check-square"></i> Tampil</a>
												<a href="" class="btn btn-warning btn-xs" delete-data="{{c.id}}" data-type="review" data-ng-show="c.hapus"><i class="fa fa-trash-o"></i> Hapus</a>
											</span>
										</span>
									</p>
								</div>
							</div>
							<hr class="main" data-ng-show="$index < reviewList.length - 1">
						</div>
						{% endverbatim %}
						
						{% if member_direktori != direktori_id and member_valid %}
						<div>
							<hr class="main">
							<form>
								<div class="form-group">
									<textarea name="" id="" cols="30" rows="8" class="form-control" placeholder="Anda dapat menambahkan review Anda disini" data-ng-model="review"></textarea>
								</div>
								<div class="clearfix">
									<button class="btn btn-success pull-right" save-review><i class="fa fa-check"></i> Tambahkan Review</button>
								</div>
							</form>
						</div>
						{% endif %}
						
					</div>
					{% endif %}
					<div class="{% if direktori == 'Semua Produk' %}col-md-12{% else %}col-md-4{% endif %}">
						<div class="row">
							<div class="col-md-12">
								<h4 class="text-center well well-sm text-muted" style="margin-top: 0;"><i class="fa fa-fw fa-gift"></i> Produk Lain</h4>
							</div>
						</div>
						<div class="row">
							{% for c in other %}
							<div class="col-md-{% if direktori != 'Semua Produk' %}1{% endif %}2">
								<div class="thumbnail">
									<img src="{{c.foto}}" alt="" style="width: 100%">
									<div class="caption" style="padding: 0;">
										<h5>
											<a href="{{c.link}}">{{c.nama}}</a>
											{% if c.stok > 0 %}
											<a href="{{c.link}}" class="pull-right">
												<span class="fa-stack">
													<i class="fa fa-circle fa-stack-2x"></i>
													<i class="fa fa-cart-plus fa-stack-1x fa-inverse"></i> 
												</span>
											</a>
											{% endif %}
										</h5>
										<p>
											<strong class="label label-success">Rp. {{c.harga}}</strong>
										</p>
										<div class="well well-sm" style="margin-bottom: 0;"><small style="font-size: 75%;" class="text-muted"><i class="fa fa-info-circle"></i> {{c.info}}</small></div>
									</div>
								</div>
							</div>
							
							{% if (loop.index % 6 == 0 and direktori == 'Semua Produk') %}
							<div class="clearfix"></div>
							{% endif %}
							
							{% endfor %}
						</div>
						
						<!--
							<ul class="media-list">
							{% for c in other %}
							<li class="media clearfix" style="padding-bottom: 3px; border-bottom: 1px solid #ebebeb">
								<a href="{{c.link}}" class="pull-left">
									<img src="{{c.foto}}" alt="" class="media-object">
								</a>
								<div class="media-body" style="line-height: 1em;">
									<span><a href="{{c.link}}">{{c.nama}}</a></span><br>
									<small class="text-success">
										<i class="fa fa-money"></i> Rp. {{c.harga}},-
									</small>
									{% if c.info %}
									<br>
									<small class="warranty text-muted" style="font-size: 0.8em">
										<i class="fa fa-info-circle"></i> {{c.info}}
									</small>
									{% endif %}
								</div>
								<!--
								<a href="{{c.link}}">
									<span class="img"><img src="{{c.foto}}" alt=""></span>
									<span class="product clearfix">
										<span class="name">{{c.nama}}</span>
										<span class="price text-success">
											<i class="fa fa-money"></i> Rp. {{c.harga}},-
										</span>
										{% if c.info %}
										<strong class="warranty text-muted">
											<i class="fa fa-info-circle"></i> {{c.info}}
										</strong>
										{% endif %}
									</span>
								</a>
							</li>
							{% endfor %}
						</ul>-->
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr class="main">
	
	{% include 'footer.html' %}
	
</div>

{% include 'post-page.html' %}

</body>
</html>