<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Madura BZ</title>
	<link rel="stylesheet" href="assets/bootstrap/css/paper.css">
	<link rel="stylesheet" href="css/style.css">
	<style>

	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<a href="#"><img src="images/logo.png" alt=""></a>
			<!--<h1><a href=""><img src="images/m.jpg" alt="" class="img-rounded img-responsive" width="80px" id="logo"></a> MADURA.BZ</h1>-->
		</div>
		<div class="col-md-3">
			<div class="media">
				<a class="media-left media-middle" href="#">
					<img src="images/1.jpg" class="img-rounded img-responsive img-profil" alt="" style="width: 70px;">
				</a>
				<div class="media-body">
					<ul class="nav nav-pills" id="status-but">
						<li><a href="#">Ubah Profil</a></li>
						<li><a href="#">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">BERANDA</a></li>
				<li class="active"><a href="#">PRODUK</a></li>				
				<li><a href="#">TRANSAKSI</a></li>				
			</ul>
		</div>
	</div>
	<hr class="header">
	<h2 class="text-center">PRODUK</h2>
	<hr class="maho">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table-responsive">			
				<table class="table">
					<tr>
						<thead>
							<th>Foto</th>
							<th>Nama</th>
							<th>Harga</th>
							<th>Stok</th>
							<th>Aksi</th>
						</thead>
					</tr>
					<tbody>
						<tr>
							<td><img src="images/1.jpg" alt="" class="img-responsive img-rounded" width="50"></td>
							<td>Sabun</td>
							<td>Rp.2000.000</td>
							<td>10</td>
							<td><button class="btn btn-xs btn-warning">Edit</button> | <button class="btn btn-xs btn-danger">Hapus</button></td>
						</tr>
						<tr>
							<td><img src="images/1.jpg" alt="" class="img-responsive img-rounded" width="50"></td>
							<td>Sabun</td>
							<td>Rp.2000</td>
							<td>10</td>
							<td><button class="btn btn-xs btn-warning">Edit</button> | <button class="btn btn-xs btn-danger">Hapus</button></td>
						</tr>
						<tr>
							<td><img src="images/1.jpg" alt="" class="img-responsive img-rounded" width="50"></td>
							<td>Sabun</td>
							<td>Rp.200.000</td>
							<td>10</td>
							<td><button class="btn btn-xs btn-warning">Edit</button> | <button class="btn btn-xs btn-danger">Hapus</button></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text-center">
				<ul class="pagination">
					<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr class="maho">
	<div class="footer">
		<h4 class="text-center"><img src="images/m.jpg" alt="" class="img-rounded" width="30px"> <br>MADURA.BZ</h4>
	</div>
</div>

<script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
</body>
</html>